<div class="container">
  <div class="row">
      <div class="col-12"> <!-- Header -->
          <div class="jumbotron jumbotron-fluid bg-primary text-white">
              <div class="container">
                  <h1 class="display-4">COMERCIALIZACIÓN DE AUTOMOTORES</h1>
                  <p class="lead">Nuevos y Usados</p>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-8"> <!-- Tabla de Vehículos -->
          <table class="table table-bordered" (click)="selectVehicle($event)">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Marca</th>
                      <th>Línea</th>
                      <th>Modelo</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let vehiculo of vehiculos; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ vehiculo.marca }}</td>
                      <td>{{ vehiculo.linea }}</td>
                      <td>{{ vehiculo.modelo }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="col-md-4"> <!-- Detalles de Vehículo -->
          <div class="card mt-4">
              <div class="card-header">
                  <h5 class="card-title">Detalles del Vehículo</h5>
              </div>
              <div class="card-body">
                  <ng-container *ngIf="selectedVehicle">
                      <img [src]="selectedVehicle.imagen" alt="{{ selectedVehicle.marca }} {{ selectedVehicle.linea }}" class="img-fluid mb-2">
                      <p><strong>Marca:</strong> {{ selectedVehicle.marca }}</p>
                      <p><strong>Línea:</strong> {{ selectedVehicle.linea }}</p>
                      <p><strong>Modelo:</strong> {{ selectedVehicle.modelo }}</p>
                      <p><strong>Kilometraje:</strong> {{ selectedVehicle.kilometraje }}</p>
                      <p><strong>Color:</strong> {{ selectedVehicle.color }}</p>
                      <p><strong>Referencia:</strong> {{ selectedVehicle.referencia }}</p>
                  </ng-container>
                  <ng-container *ngIf="!selectedVehicle">
                      <p>Seleccione un vehículo de la tabla.</p>
                  </ng-container>
              </div>
          </div>
      </div>
  </div>

  <!-- Sección de Conteo de Vehículos por Marca -->
  <div class="row mt-4">
      <div class="col-md-12">
          <h2>Conteo de Vehículos por Marca</h2>
          <ul>
              <li *ngFor="let marca of (vehiculosPorMarca | keyvalue)">
                  {{ marca.key }}: {{ marca.value }}
              </li>
          </ul>
      </div>
  </div>
</div>
